<form #newBookForm="ngForm">
  <md-card>
    <md-card-header>
      <md-card-title><h4>Add New Book</h4></md-card-title>
      <img md-card-avatar src="assets/img/pencil.png" />
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Book Title" [(ngModel)]="book.title" name="title" required />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Author" [(ngModel)]="book.author" name="author" required />
      </md-input-container>
      <p class="rating-label">Rating</p>
      <my-rating [rating]="book.rating" [book]="book">
      </my-rating>
      <md-slide-toggle color="primary" [(ngModel)]="book.isCheckedOut" name="checkedOut">Checked out?</md-slide-toggle>
    </md-card-content>
    <md-card-actions>
      <div class="text-right">
        <button type="submit " md-button (click)="save()" color="warn" [disabled]="newBookForm.form.invalid"><i class="material-icons">save</i>SAVE</button>
        <button type="reset" md-button (click)="cancel()"><i class="material-icons">cancel</i>CANCEL</button>
      </div>
    </md-card-actions>
  </md-card>
</form>
